$blue: #1986da;
$black: black;
$light-blue: #f2f8fc;
$normal-blue: #4cbbb9;
$orange: #ff7c38;
$white: white;
$red: #e21b1b;
$primary: #1274e4;
$fs-20: 1.04vw;
$fs-25: 1.3vw;
$fs-30: 1.56vw;
$fs-35: 1.82vw;
$fs-16: 0.83vw;
